{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky - Login{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Login</h1>
</div>
<div class="col-md-4">
    {{ wtf.quick_form(form) }}
</div>
<p>
  New User?
  <a href="{{ url_for('auth.register')}}"> Click Here to Register</a>
</p>
<p>
   Or you can jump right in:
</p>
<p>
  <a href = "{{url_for('auth.oauth_authorize', provider ='facebook')}}">Login with Facebook</a></p>
  <a href = "{{url_for('auth.oauth_authorize', provider ='google')}}">Login with Google</a></p>
</p>
{% endblock %}
