<ul class="posts">
    {% for post in posts %}
    <li class="post">
        <div class="post-thumbnail">
            <a href="{{ url_for('.user', username=post.author.username) }}">
                     {% if post.author.profile_picture_service == '3' %}
                     <img class="img-rounded profile-thumbnail" src="{{ post.author.gravatar(size=40) }}">
                     {% endif %}
                     {% if post.author.profile_picture_service == '2' %}
                     <img class="img-rounded profile-thumbnail" src="{{ post.author.profile_picture_url }}" width="40", height="50">
                     {% endif %}
                     {% if post.author.profile_picture_service == '1' and post.author.social_id %}
                     <img class="img-rounded profile-thumbnail" src="https://graph.facebook.com/{{ post.author.social_id }}/picture?width=40&height=50">
                     {% endif %} }}">
            </a>
        </div>
        <div class="post-content">
            <div class="post-date">{{ moment(post.timestamp).fromNow() }}</div>
            <div class="post-author"><a href="{{ url_for('.user', username=post.author.username) }}">{{ post.author.username }}</a></div>
            <div class="post-title"><a href="{{ url_for('.post', id=post.id) }}"> {{ post.title }}</a></div>
            <div class="post-body">
                {% if post.body_html %}
                    {{ post.body_html | safe }}
                {% else %}
                    {{ post.body }}
                {% endif %}
            </div>
            <div class="post-footer">
                {% if current_user == post.author %}
                <a href="{{ url_for('.edit', id=post.id) }}">
                    <span class="label label-primary">Edit</span>
                </a>
                {% elif current_user.is_administrator() %}
                <a href="{{ url_for('.edit', id=post.id) }}">
                    <span class="label label-danger">Edit [Admin]</span>
                </a>
                {% endif %}
                <a href="{{ url_for('.post', id=post.id) }}">
                    <span class="label label-default">Permalink</span>
                </a>
                 <a href="{{ url_for('.post', id=post.id) }}#comments">
                    <span class="label label-primary">{{ post.comments.count() }} Comments</span>
                </a>
                {% if not current_user.is_liking_post(post) %}
                <a href="{{ url_for('.like_post', id=post.id) }}">
                    <span class="label label-primary">Like</span>
                </a>
                {% else %}
                <a href="{{ url_for('.unlike_post', id=post.id) }}">
                    <span class="label label-primary">Unlike</span>
                </a>
                {% endif %}
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
