{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}The Library - Home {% endblock %}

{% block page_content %}
<div class="page-header">
    {% if current_user.is_authenticated %}
    <h1>Hello, {{current_user.username}} and welcome to Sofia University's Library Social Network</h1>
    <h2>To create a new post and share your idea's <a href="{{ url_for('.new_post') }} "> Click here </a></h2>
    {% else %}
    <h1>Hello, Stranger</h1>
    <h2>and welcome Sofia University's Library Social Network</h2>
    <h2>If you want to  post and see what other people are posting you need to <a href="{{ url_for('auth.login') }}">Login</a></h2>
    {% endif %}
</div>
<div class="post-tabs">
    <ul class="nav nav-tabs">
        <li{% if not show_followed and not show_liked %} class="active"{% endif %}><a href="{{ url_for('.show_all') }}">All</a></li>
        {% if current_user.is_authenticated %}
        <li{% if show_followed %} class="active"{% endif %}><a href="{{ url_for('.show_followed') }}">Followers</a></li>
        <li{% if show_liked %} class="active"{% endif %}><a href="{{ url_for('.show_liked') }}">Liked Posts</a></li>

        {% endif %}
    </ul>
    {% include '_posts.html' %}
</div>
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.index') }}
</div>
{% endif %}
{% endblock %}